<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student.educational_class %>
</p>

<p>
  <strong>Assigned Tests: </strong><br>
  <% @student.tests.incomplete.each do|test| %>
    <%= test.exam.name %>   <%= link_to 'Take Test', take_test_test_details_path(student_id: @student.id, exam_id: test.exam.id), data: { confirm: 'Are you sure to start test?' } %>
    <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
