<%= form_for(@exam_format) do |f| %>
  <% if @exam_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_format.errors.count, "error") %> prohibited this exam_format from being saved:</h2>

      <ul>
      <% @exam_format.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :question_type %><br>
    <%= f.text_field :question_type %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
