<%= form_for(@test_detail) do |f| %>
  <% if @test_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_detail.errors.count, "error") %> prohibited this test_detail from being saved:</h2>

      <ul>
      <% @test_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_id %>:- 
    <%= f.object.test.exam.name%>
  </div>
  <div class="field">
    <%= f.label :student_id %>:- 
    <%= f.object.student.name %>
  </div>
  <div class="field">
    <%= f.label :question_detail_id %>:- 
    <%= f.object.question_detail.question %>
  </div>
  <div class="field">
    <%= f.label :answer %>:- 
    <%= f.object.answer %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
