<%= form_for(@test_detail) do |f| %>
  <% if @test_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_detail.errors.count, "error") %> prohibited this test_detail from being saved:</h2>

      <ul>
      <% @test_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exam_format_id %><br>
    <%= f.number_field :exam_format_id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :exam_detail_id %><br>
    <%= f.number_field :exam_detail_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
