<p id="notice"><%= notice %></p>

<h1>Listing Test Details</h1>

<table>
  <thead>
    <tr>
      <th>Exam format</th>
      <th>Answer</th>
      <th>Exam detail</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_details.each do |test_detail| %>
      <tr>
        <td><%= test_detail.exam_format_id %></td>
        <td><%= test_detail.answer %></td>
        <td><%= test_detail.exam_detail_id %></td>
        <td><%= test_detail.score %></td>

        <td><%= link_to 'Show', test_detail %> | 

         <% if can? :read, test_detail.exam_detail %>
          <%= link_to "View", test_detail.exam_detail %>
        <% end %>

        </td>
        <td><%= link_to 'Edit', edit_test_detail_path(test_detail) %></td>
        <td><%= link_to 'Destroy', test_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test detail', new_test_detail_path %>
