<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @test_detail.test_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @test_detail.student_id %>
</p>

<p>
  <strong>Question detail:</strong>
  <%= @test_detail.question_detail_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @test_detail.answer %>
</p>

<p>
  <strong>Score:</strong>
  <%= @test_detail.score %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_detail.status %>
</p>

<%= link_to 'Edit', edit_test_detail_path(@test_detail) %> |
<%= link_to 'Back', test_details_path %>
