<p id="notice"><%= notice %></p>

<h1>Exam: <%= @test.exam.name %></h1>
<%= form_tag take_exam_test_details_path, method: :post, remote: true do %>
  <%= hidden_field_tag :test_id, @test.id %>
  <%= hidden_field_tag :student_id, @test.student_id %>

  <table border="1">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>

    <tbody>
      <% @test.exam.question_details.each do|question_detail| %>
        <tr>
          <td>
            <%= hidden_field_tag "exam_details[#{question_detail.id}]" %>
            <%= question_detail.question %>
          </td>
          <td><%= text_field_tag "exam_details[#{question_detail.id}]", nil, placeholder: 'Type answer...' %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
  <%= submit_tag "Submit", class: "button", data: { confirm: "Are you sure you want to submit test?" }%>
<%end%>
