<%= form_for(@exam_detail) do |f| %>
  <% if @exam_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_detail.errors.count, "error") %> prohibited this exam_detail from being saved:</h2>

      <ul>
      <% @exam_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exam_id %><br>
    <%= f.number_field :exam_id %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
