<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exam_detail.exam_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @exam_detail.teacher_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @exam_detail.student_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @exam_detail.subject_id %>
</p>

<%= link_to 'Edit', edit_exam_detail_path(@exam_detail) %> |
<%= link_to 'Back', exam_details_path %>
