<%= nested_form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
 
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.collection_select(:teacher_id, Teacher.all, :id, :name) %>
  </div>

  <%= f.fields_for :question_details do |question_detail| %>
    <%= question_detail.text_field :question %>
    <%= question_detail.select :question_type, options_for_select(["Text", "Date"].collect {|qt| [ qt, qt] }, question_detail.object.question_type) %>
    <%= question_detail.link_to_remove "Remove this question" %>
  <% end %>
  <p><%= f.link_to_add "Add a question", :question_details %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
