<p id="notice"><%= notice %></p>

<h1>Listing Exams</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Questions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.teacher.name %></td>
        <td>
          <% exam.question_details.each do|question_detail| %>
            <%= question_detail.question_type %>:- 
            <%= question_detail.question %>
            <br>
          <%end%>
        </td>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Assign Exam', assign_test_exam_path(exam) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_exam_path %>
