<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @exam.teacher.name %>
</p>

<p>
  <strong>Exam Question:</strong><br>
  <% @exam.question_details.each do|question_detail| %>
    <%= question_detail.question_type %>:- 
    <%= question_detail.question %>
    <br>
  <%end%>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
